/* Import local font from "fonts" folder */
@font-face {
    font-family: "Pokemon";
    src: url("./assets/fonts/Pokemon.eot");
    src: url("./assets/fonts/Pokemon.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/Pokemon.woff2") format("woff2"), 
        url("./assets/fonts/Pokemon.woff") format("woff"),
        url("./assets/fonts/Pokemon.ttf") format("truetype");
	font-style: normal;
    font-weight: normal;
}

/* Import font from Google */
@import url("https://fonts.googleapis.com/css?family=VT323|Press+Start+2P");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

button {
	background: #235AAC;
	margin: 0 0.3em;
}

/* Changes font color of button text when pressed */
button:active {
	color: #235AAC;
}

/* Changes button background color when mouse hovers over */
button:hover {
	background: #29AAFD;
}

button, input {
	border: 2px solid black;
	font-family: "VT323";
	font-size: 2em;
}

/* Wrapper for sections w/ retrieved Pokemon data */
#data {
	display: flex;
	flex-flow: row wrap;
	font-family: "VT323";
	justify-content: center;
	margin: 0 4% 3%;
}

#data article {
	padding-bottom: 2%;
}

#data h3 {
	font: 1.2em "Press Start 2P";
	padding-bottom: 5%;
}

#data img {
	width: 25%;
}

#data li {
	font-size: 1.5em;
	text-transform: capitalize;
}

#data section {
	background-color: white;
	background-image:
		linear-gradient(to right, darkred 20px, transparent 20px),
		linear-gradient(to left, darkred 20px, transparent 20px);
	border: 3px solid black;
	border-radius: 10px;
	flex-basis: 26.333333%;
	padding: 1% 25px 1.5%;
	margin: 0 1% 2%;
	min-width: 11em;
}

#ability ul {
	list-style: inside disc;
}

#evolution ol {
	list-style: inside decimal;
}

h1 {
	color: #FFCC01;
	flex: 5%;
	font: 2.75em "Pokemon";
	margin-top: -0.4em;
	margin-left: 0.2em;
	-webkit-text-stroke-width: 2.7px;
	-webkit-text-stroke-color: #235AAC;
}

h2 {
	font-family: "Press Start 2P";
	font-size: 2em;
	margin-bottom: 1.5%;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

header {
	align-items: center;
	background-image: linear-gradient(brown, firebrick, darkred);
	border: 3px solid black;
	display: flex;
	flex-direction: row;
	height: 4em;
}

html {
	background: #B1DCEA url("./assets/images/tile.png");
}

input {
	margin-left: 1em;
}

label {
	align-items: center;
	display: flex;
	flex-basis: 48%;
	flex-direction: column;
	font: 1.5em "VT323";
	margin-top: 2%;
	margin-right: 2%;
	text-transform: capitalize;
}

/* Wrapper for sections w/ Pokemon sprite images */
#sprites {
	margin: 0 5%;
}

#sprites article {
    background-color: white;
	background-image:
		linear-gradient(to right, darkred 20px, transparent 20px),
		linear-gradient(to left, darkred 20px, transparent 20px);
	border: 3px solid black;
	border-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	margin: 3% auto 1.5%;
	max-width: 60%;
}

#sprites article img {
	width: 50%;
}

#sprites h3 {
	font: 1.2em "Press Start 2P";
	margin: auto;
	padding: 1.5%;
}

/* Media query -- modifies some elements when the screen's width <= 55em */
@media screen and (max-width:55em) {
	button {
		margin-bottom: 10%;
		margin-top: -10em;
	}

	h1 {
		flex-basis: 100%;
		font-size: 3.5em;
		margin: -5% auto 0;
		-webkit-text-stroke-width: 3px;
	}

	h2 {
		margin: 2% 0;
	}

	header {
		align-items: flex-end;
		flex-direction: column;
		height: 14em;
	}

	label {
		flex-basis: 45%;
		font-size: 1.1em;
		margin-right: 5%;
	}

	#sprites article {
		margin-top: 5%;
		max-width: 80%;
	}

	#sprites article img {
		width: 50%;
	}
}
